*/.vagrant
*/*.old

*/debug
*/*.log
test_latest_kern/
test_disk/
.test_*/
test_latest_kern/Vagrantfile
settings.json
otus-admin.code-workspace
*/*/packer_cache
*/*/*.box
Lab03/test/.vagrant/bundler/global.sol
Lab03/test/.vagrant/rgloader/loader.rb
Lab03/test/Vagrantfile
